@import "./variables.css";
@import "./nav-bar.css";




*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: var(--COLOR-BACKGROUND);
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}


/* mobile layout */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    gap: 16px;
}

main h1, main h3, main h4, main p, main a {
    color: var(--COLOR-TEXT);
}

#welcome-texts {
    padding: 30px;
}

#log-in-sign-up-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#log-in-sign-up-div form {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    border: 2px solid var(--COLOR-ACCENT);
    background-color: var(--COLOR-ACCENT);
    color: var(--COLOR-TEXT-NAVBAR);
    padding: 15px 40px;
    border-radius: 40px;
    transition: 0.25s ease;
}


button:hover {
    cursor: pointer;
    color: var(--COLOR-TEXT);
    transform: scale(1.1);
}

#a-sign-up {
    color: var(--COLOR-ACCENT);
    padding: 10px 35px;
    border: 2px solid var(--COLOR-ACCENT);
    border-radius: 40px;
}

.hidden {
    display: none;
}